@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Droid+Serif:400,700,400italic,700italic|Droid+Sans:400,700');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*quite el padding que me condicionaba el espacio*/
.container_header {
  /*se emigro del header al  container_header*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: salmon;
  background: #f9f9f9;
  height: 100px;
  /* le disminui anchura*/
  width: 100%;
}



/* navegacion  */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  background-color: #2c3e50;
  z-index: 7;


  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
  }



  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
  }
}

a.active {
  background-color: #e74c3c;
  pointer-events: none;
}

li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
  &~.slider {
    left: 0;
    background-color: #3498db;
  }
}


.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
  &~.slider {
    left: 25%;
    background-color: #9b59b6;
  }
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
  &~.slider {
    left: 50%;
    background-color: #e67e22;
  }
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
  &~.slider {
    left: 75%;
    background-color: #16a085;
  }
}




#hero1 {
  background: url(img/hero_one.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;



}

#hero2 {
  background: url(img/hero_three.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;


}



.hero,
.content {
  text-align: center;
  position: relative;
  width: 100%;
}


.inner {
  min-height: 600px;
  /*position: relative; */
  /* retirado para centrar frases*/
}




.hero {
  background: url(0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}


#frase {
  margin-left: 75px;
  text-align: center;

}


.copy {
  position: absolute;
  top: 40%;
  height: 10em;
  margin-top: -5em;
  width: 100%;

}





#frase h1 {
  color: red;
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}





.hero h1,
.hero p {
  color: #fff;
}

.content h1,
.content p {
  color: #333;
}


h1 {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 5em;
  padding: 0px 20px;
  line-height: 1.2em;

}




p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  padding: 0px 20px;
}





#secundarias {
  font-size: 3em;
}




.container_footer {
  height: 120px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}



.container_footer p,
address,
small {
  color: orangered;
}


/*animacion*/

/* ----------------------------------------------
 * Generated by Animista on 2024-9-8 22:54:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */

#frase {
  -webkit-animation: tracking-in-expand-fwd 0.8s;
  animation: tracking-in-expand-fwd 0.8s;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}









/******FOTOS******/


.photos {
  width: 100%;
  height: auto;
  background: white;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 0.5em;
  justify-content: center;
  margin: 10px;
}



.grid-item {
  width: 230px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
}

.grid-container>img:hover {
  transform: scale(2.1);
  cursor: pointer;
}


.grid-container>figure>img:hover {
  transform: scale(2.1);
  cursor: pointer;
}




/*cronicas*/


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 3rem;


}



.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(12, 10, 10, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  justify-content: center;

}


#img-chronicle {
  max-width: 100%;
  object-fit: cover;
  height: 300px;
}





.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
}



.tag {
  border-radius: 5px;
  width: auto;
  padding: 0 15px;

}



.tag+.tag {
  margin-left: .5em;
}



.tag-red {
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
  font-style: italic;


}


.card__body {
  text-align: center;
}

#title-chronicle {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  color: salmon;
  opacity: 0.8;

}

/* pendiente x cambiar*/
#title-chronicle:hover {
  opacity: none;
  color: #eb1d02;
  text-decoration: none;
  transition: .5s;



}






/* 
SALTO DEL BUEY
CONCEPCION
TAPARTO
SOPETRAN
MELCOCHO
*/

@font-face {
		font-family: 'Sucrose Bold Two';
		src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
		}
@font-face {
    font-family: 'IM Fell French Canon Pro';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}

/******HEADER*********/
#container-navegacion{
  position: fixed;
  display: block;
}

/********************/

.cronica-encabezado {
  justify-content: center;
  padding: 140px 5px 0px 5px;
  margin: 0 60px; 
}

#fecha {
  font-size: 20px;
  padding-left: 100px ;
}



#titulocronica {
  color: orangered;
  text-align: center;
  padding: 30px 0px;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4.5rem;
  padding-bottom: 15px;
}

#frase1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;  
  font-size: 1.3em;
}


/***BOTONES DE NAVEGACION*******/

.btn-svg {
  width: 16px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 20px 0px 20px;


}

.button {
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #2d2e32;
  border: 2px solid #2d2e32;
  transition: all 0.45s;

}

.button:hover {
  transform: rotate(360deg);
  transform-origin: center;
  background-color: #ffff;
  color: #2d2e32;

}

.button:hover .btn-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*******************************/

/******** FOTO PRINCIPAL **************/

.photo-ppal {
  display: flex; 
  justify-content: center;
}

#imagen-ppal {
  /*modificado 29-10/2024 */
 /* width: 1100px;
  height:700px;
  border-radius: 1.5% ;*/
width: 100%;
height: auto;
}


/***************************************/


.container-estandar {
  display: flex;
  width: 100%;
  padding: 30px 70px 0px;
}


.cronica {
  justify-content: center;
  padding: 15px 5px;
  border-top: solid 2px orangered;
  margin: 0 150px;

}


#p1 {
  /*
  text-align: justify; 
  font-size: 1.2rem;
  line-height: 1.8em;  
  color: #3A4145;
  */
  /*------------------*/

  
  
    font-family: 'IM Fell French Canon Pro';
    font-size: 1.5rem;
    padding: 2rem 5%;
    line-height: 1.6;
    text-align: justify; 

}






h3 {
  padding: 10px;
  font-size: 30px;
  color: orangered;
}



.container_video {
  display: flex;
  justify-content: center;
}


.video {
  width: 35%;
  height: 100%;
  border-radius: 5%;
  margin: 20px 0px;
}



/* informacion  de sitios de interes y costos */

.container-information {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;

}






.title-information a {
  display: block;
  padding: 20px 80px;
  font-size: 23px;
  background: #2e2e2e;
  color: darkorange;
  cursor: pointer;
  margin-bottom: 2px;
  border-radius: 10px;
  transition: all 300ms ease;
  text-align: center;
  text-decoration: none;

}


.title-information a:hover {
  background: rgb(163, 156, 156);
  color: black;
  transition: .5s;
}


#q1 li {
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: #3A4145;
  margin-left: 25px;
}


#q2 li {
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: #3A4145;
  margin-left: 25px;
}

/* Seccion "como viajamos" */

.journey-route {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 .1rem 1rem rgba(12, 10, 10, 0.1);
  background-color: #ecedf1;
}

.title-route {
  text-align: center;
  padding-bottom: 10px;
}


.information-journey li {
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.2rem;
  line-height: 2.4em;
  margin-left: 25px;
  color: green;
}


#Brutal {
  color: rgb(71, 190, 71);
}


/*Sección sitio relacionado "Sopetran" */


.seccion_relacionado {
  border-top: solid 2px orangered;
  padding: 40px 10px;
  margin: 0 20px;

}

.articulo_relacionado {
  letter-spacing: 0.030em;
}

.articulo_relacionado h4 {
  text-align: center;
  font-size: 1.5em;
  padding: 0 25px;
}

#fiestas {
  padding-bottom: 15px;
}

.articulo_relacionado p {
  text-align: center;
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.1rem;
  line-height: 1.8em;
  color: #3A4145;
}



.imagen_relacionado {
  text-align: center;
}


#imagen_relacionado {
  width: 320px;
}







/* CONTACTO*/
.contact_form {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  padding-top: 20px;


}

.formulario {
  height: 800px;
  border-radius: 10px;
  margin-top: 30px;
  padding-left: 20px;
  background: black;
  display: grid;

}




#d1 h3 {
  text-align: center;
  padding-top: 25px;
}


#d1 h4 {
  padding: 15px 5px 0px 5px;
  color: white;
  font-size: 14px;
  color: #16a085;

}



#d2,
#d3,
#d4,
#d5,
#d6 {
  padding: 15px;
  color: orangered;
}

#nombre,
#email,
#telefono,
#asunto {
  width: 240px;
}

#email {
  margin-left: 14px;
}

#telefono {
  margin-left: 10px;
}



#d7 {
  text-align: center;
  color: orangered;
}

textarea {
  background-color: #fbfbfb;
  width: 350px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #646364;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  padding-top: 15px;
}

.formulario #d6 {
  text-align: center;
}

#enviar {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px white;
  margin-bottom: 3px;
  color: orangered;
  font-style: normal;
  font-size: 1.7em;
  background-color: black;
}



#enviar:hover {
  color: aqua;
  transition: .5s;
  border: solid 2px aqua;
  cursor: pointer;
}








/* MEDIA QUERIES */




@media screen and (max-width: 1366px) {


  .container {
    margin: 0 auto;
    margin-top: 35px;
    /* estas dos ultimas etiquetas  la agregeye para centrar el div en  la pantalla grande*/
  }

}




/* pantalla 2 "derecha pequeña" */
@media only screen and (min-width:768px) and (max-width: 1024px) and (orientation: landscape) {

  /********************GALERIA FOTOS**************************/

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 8px;
    justify-content: center;
    margin: 15px;
  }

  .grid-item {
    width: 200px;
    height: 220px;
  }

/******************************************************************/
 
/* 
SALTO DEL BUEY
CONCEPCION
TAPARTO
SOPETRAN
MELCOCHO
*/

/*****************************CRONICAS*******************************/
 
/**********FECHA****************/
 
#fecha {
  font-size: 19px;
  padding-left: 40px;
}
/***********************************************************************/
#titulocronica {
  font-size: 3.5rem;
}

#frase1{
  font-size: 1.1em;
}




/***BOTONES DE NAVEGACION*******/
  .btn-svg {
    width: 14px;
  }


  .button {
    width: 28px;
    height: 28px;
  }

  /*******************************************************************************************/
  /**********FOTO PRINCIPAL****************/  
   #imagen-ppal { /* 
    width: 800px;
    height:700px; 
    padding: 0% 20px; 
    border-radius:4% ;
    */
    width: 100%;
    height: auto;
  }
 
  /***********************************************************************/
 
  .container-estandar { 
    padding: 25px 80px 0px;
  }
  
 

  .cronica {
    padding: 15px 10px;
    margin: 0 10px;
  }


  #p1 {
    font-size: 1.1em; 
    line-height: 1.7em;     
  }

  h3 {
    padding: 9px;
    font-size: 25px;  
  }

  
  /****SECCION COMO VIAJAMOS****" */

  .information-journey li {
    font-size: 1.0rem;
    line-height: 2.3em; 

  }





  /**************************************************************************************************/

/****************************CRONICA*******************************************/

  .card {
    display: flex;
    flex-direction: column;
    width: clamp(15rem, calc(15rem + 4vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    justify-content: center;
  }



  /*-----------------------------------------------------------------------------*/





 









}
  


/*@media screen and (max-width: 600px) {*/


@media screen and (max-width: 767px) {

  .inner {
    position: relative;
  }


  .btn-svg {
    width: 16px;
  }


  .button {
    width: 25px;
    height: 25px;
  }


  .container-estandar {
    display: block;
    padding: 30px 10px 0px;
  }



  .cronica {  
    margin: 0 10px;
    padding: 10px 5px;
  }


  #titulocronica {
    font-size: 3.0rem;
  }



  nav li a {
    display: block;
    padding: 20px;
    font-size: 20px;
  }





  #check:checked~nav {
    right: 0;
    font-size: 30px;
  }

  .banner {
    height: 400px;
  }

  .container {
    text-align: center;
  }


  .articulo {
    width: 320px;
    height: auto;
    margin: 20px 2px 2px 5px;
    padding: 5px;
  }



  #p1 {
    font-size: 1.1rem;
    line-height: 1.7em;
  }



}




@media screen and (max-width: 450px) {

  /**********LOGOS REDES SOCIALES *********/

  .btn-svg {
    width: 12px;
  }


  .button {
    width: 25px;
    height: 25px;
  }


/****************************************************/

/************CRONICAS*******************************/
  .container-estandar {
    padding: 30px 5px 10px;
 
  }


  .cronica {
    margin: 0 10px;
  }



  #fecha {
    font-size: 20px;
    padding: 0 20px;
  }
  


  .menu li a {
    font-size: 16px;
  }



  .banner {
    height: 400px;
  }


  .container {
    text-align: center;
  }


  .articulo {
    width: 320px;
    height: auto;
    margin: 20px 2px 2px 5px;
    padding: 5px;
  }

  .grid-container>img:hover {
    transform: scale(1.5);
  
  }
  
  
  .grid-container>figure>img:hover {
    transform: scale(1.5);
    
  }
  



}