@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Droid+Serif:400,700,400italic,700italic|Droid+Sans:400,700');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*quite el padding que me condicionaba el espacio*/
.container_header {
  /*se emigro del header al  container_header*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: salmon;
  background: #f9f9f9;
  height: 100px;
  /* le disminui anchura*/
  width: 100%;
}



/* navegacion  */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  margin: auto;
  position: relative;
  background-color: #2c3e50;
  z-index: 7;


  li {
    float: left;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
  }
}

a.active {
  background-color: #e74c3c;
  pointer-events: none;
}

li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
  &~.slider {
    left: 0;
    background-color: #3498db;
  }
}


.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
  &~.slider {
    left: 25%;
    background-color: #9b59b6;
  }
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
  &~.slider {
    left: 50%;
    background-color: #e67e22;
  }
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
  &~.slider {
    left: 75%;
    background-color: #16a085;
  }
}




#hero1 {
  background: url(img/hero_one.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;



}

#hero2 {
  background: url(img/hero_three.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;


}



.hero,
.content {
  text-align: center;
  position: relative;
  width: 100%;  
}


.inner {
  min-height: 600px;
  /*position: relative; */ /* retirado para centrar frases*/
}




.hero {
  background: url(0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}


#frase {
  margin-left: 75px;
  text-align: center;
 
}


.copy {
  position: absolute;
  top: 40%;
  height: 10em;
  margin-top: -5em;
  width: 100%;

}





#frase h1 {
  color:red;
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  
}





.hero h1,
.hero p {
  color: #fff;
}

.content h1,
.content p {
  color: #333;
}



h1 {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 5em;
  padding: 0px 20px;
  line-height: 1; 
}


p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  padding: 0px 20px;
}





#secundarias {
  font-size: 3em;
}




.container_footer {
  height: 120px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}



.container_footer p,
address,
small {
  color: orangered;
}


/*animacion*/

/* ----------------------------------------------
 * Generated by Animista on 2024-9-8 22:54:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */

 #frase {
	-webkit-animation: tracking-in-expand-fwd 0.8s ;
	        animation: tracking-in-expand-fwd 0.8s ;
}

 @-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}









/* fotos */


.photos {
  width: 100%;
  height: auto; 
  background: white;
}



.grid-container { 
  display: grid;  
  grid-template-columns: repeat(auto-fill, 250px); 
  gap: 10px;
  justify-content: center;
  margin: 15px;
}



.grid-item {
  width: 230px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
}

.grid-container>img:hover {
  transform: scale(2.1);
  cursor: pointer;
}


.grid-container>figure>img:hover {
  transform: scale(2.1);
  cursor: pointer;
}


/*cronicas*/



.container {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 3rem;
  /* estaba en 2rem*/


}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(12, 10, 10, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  justify-content: center;
  /*  este no estaba*/



}


#img-chronicle {
  max-width: 100%;
  object-fit: cover;
  height: 300px;
}





.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#title-chronicle {
  text-decoration: none;
  color: red;

}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag+.tag {
  margin-left: .5em;
}



.tag-red {
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;


}


.card__body {
  text-align: center;
}

#title-chronicle{
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;

}

#title-chronicle:hover {
  color: darkorange;
  transition: .5s;

}



/* 
salto del Buey
concepcion
Taparto
sopetran
melcocho
*/


/*redes*/


.redes {
  display: inline-flex;
  list-style: none;
  height: 100%;
  width: 100%;
  padding-top: 140px;
  justify-content: center;

}


.redes .icon {
  background: rgb(248, 243, 243);
  border-radius: 50%;
  box-shadow: 0 .1rem 1rem rgba(58, 56, 56, 0.767);  
  position: relative;  
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon span i {
 color: #2c3e50;
}

.icon:hover {
  background: orangered;
  transition: .5s;
  box-shadow: none;
  cursor: default;
}


#cronicas {
  position: fixed;
  display: block;
}


.container-estandar { 
  display: flex;
  width: 100%;
  padding: 60px 100px 0px;
}


.cronica {
  justify-content: center;
  padding: 15px 5px;
  border-top: solid 2px orangered;
  margin: 0 80px;
}


#fecha {
  font-size: 20px;
  padding: 0 25px;
}





#titulocronica {
  color: orangered;
  text-align: center;
  padding: 50px 0px;
  margin-top: 0;
  font-family: Droid Serif, Georgia, serif;
  font-weight: 400;
  font-size: 3.8rem;
}



#p1 {
  text-align: justify;
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.4rem;
  line-height: 1.8em;
  color: #3A4145;

}






h3 {
  padding: 10px;
  font-size: 30px;
  color: orangered;

}

li {
  font-size: 18px;
}




.container_video {
  display: flex;
  justify-content: center;
}


.video {
  width: 35%;
  height: 100%;
  border-radius: 5%;
}

/*

.sitios,
.trayecto {
  padding: 0 35px;
}

.sitios h3 {
  font-size: 30px;
}

.sitios,
.trayecto li {
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: #3A4145;
}
*/

/* informacion  de sitios de interes y costos */

.container-information{
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
}



.title-information a{
  display: block;
  padding: 20px;
  font-size: 23px;
  background: rgb(163, 156, 156);
  color: black;
  cursor: pointer;
  margin-bottom: 2px;
  border-radius: 10px;
  transition: all 300ms ease;
  text-align: center;
  text-decoration: none;

}


.title-information a:hover{ 
  background: #2e2e2e;
  color: darkorange;
  transition: .5s;
}


#q1 li{
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: #3A4145;  
  margin-left: 25px;
}


#q2 li{
  font-family: Droid Serif, Georgia, serif;
  font-size: 1.2rem;
  line-height: 1.8em;
  color: #3A4145;  
  margin-left: 25px;
}




.seccion_relacionado {
  border-top: solid 2px orangered;
  padding: 40px 10px;
  margin: 0 30px;

}

.articulo_relacionado {
  letter-spacing: 0.030em;
}

.articulo_relacionado h4 {
  font-size: 1.5em;
  padding: 0 25px;
}

.articulo_relacionado p {
  text-align: justify;
  padding: 0 0 0 1.3em;
  margin: 0.8em 0;

  font-size: 1.3em;
  line-height: 1.4em;
  color: #3A4145;
}



.imagen_relacionado {
  text-align: center;

}


#imagen_relacionado {
  width: 320px;
}







/* CONTACTO*/
.contact_form {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  padding-top: 120px;


}

.formulario {
  height: 800px;
  border-radius: 10px;
  margin-top: 30px;
  padding-left: 20px;
  background: black;


}



#d1 h3 {
  padding-bottom: 35px;

}

#d1 h4 {
  padding-bottom: 15px;
  color: white;
  font-size: 14px;

}


#d1,
#d2,
#d3,
#d4,
#d5,
#d6,
#d7 {
  padding-top: 25px;
  color: orangered;
}

#nombre,
#email,
#telefono,
#asunto {
  width: 240px;
}

#email {
  margin-left: 14px;
}

#telefono {
  margin-left: 10px;
}



#d7 {
  text-align: center;
 
}

textarea {
  background-color: #fbfbfb;
  width: 350px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #646364;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.formulario  #d6{ 
  text-align: center;
}

#enviar {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border:solid 2px white ;
  margin-bottom: 20px;
  color: orangered;
  font-style: normal;
  font-size: 1.8em;
  background-color: black;


}



#enviar:hover {
  color: aqua;
  transition: .5s;
}









/* MEDIA QUERIES */


@media screen and (min-width: 913px) and (orientation: landscape) {


  .container-estandar {    
    padding: 60px 150px 0px;
  }

}


@media screen and (max-width: 912px) {


  .container-estandar {    
    padding: 60px 40px 0px;
  }




  #check:checked~nav {
    right: 0;

  }

  .banner {
    height: 1020px;
  }


}




.grid-container { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 8px; 
  justify-content: center;
  margin: 15px; 
}





.card {
  display: flex;
  flex-direction: column;
  width: clamp(15rem, calc(15rem + 4vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  justify-content: center;

}






#p1 {
  font-size: 1.3rem;
  line-height: 1.7em;
}







@media screen and (max-width: 600px) {

 
  .inner{
    position: relative;
  }


  .container-estandar {
    display: block; 
    padding: 30px 10px 0px;
    }
  
  }

  .cronica {
    margin: 0 40px;
    padding: 10px 5px;
  }

  
#titulocronica {
  font-size: 3.0rem;
}



  nav li a {
    display: block;
    padding: 20px;
    font-size: 20px;
  }





  #check:checked~nav {
    right: 0;
    font-size: 30px;
  }

  .banner {
    height: 400px;
  }

  .container {
    text-align: center;
  }


  .articulo {
    width: 320px;
    height: auto;
    margin: 20px 2px 2px 5px;
    padding: 5px;
  }



  #p1 {
    font-size: 1.1rem;
    line-height: 1.7em;
  }









@media screen and (max-width: 450px) {



  .container-estandar {    
    padding: 20px 10px 0px;
  }


  .cronica {
    margin: 0 10px;
  }



  .menu li a {
    font-size: 16px;
  }



  .banner {
    height: 400px;
  }


  .container {
    text-align: center;
  }


  .articulo {
    width: 320px;
    height: auto;
    margin: 20px 2px 2px 5px;
    padding: 5px;
  }





}